#page-demo .btns {
    /*margin-top: 10px;*/
}

#page-demo .search-panel {
    /*margin-bottom: 10px;*/
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #eee;
    border-bottom-color: #ddd;
}

#page-demo .search-panel .row {
    margin-bottom: 5px;
}

#page-demo .search-panel .body {
    /*margin-bottom: 10px;*/
}

#page-demo .search-panel .footer {
    margin-top: 10px;
    text-align: right;
}

#page-demo .refresh {
    margin-top: 10px;
}

#page-demo .optBtns {
    padding: 10px;
    background-color: #eee;
    text-align: right;
}